{{ define "projects" }}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="125"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">{{ .Title }}</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">{{ .Summary }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ .Params.Link }}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                                </a>
                            </div>
                        </div>
                        <p class="card-text">{{ .Content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}