{{ define "projects" }}
<p>
    <!-- easymode spacing -->
</p>
<div class="album py-5 bg-light">
    <div class="container">

        <!-- repeat rows? -->
        <div class="row">

            <!-- repeat cols? -->
            {{ range (where .Pages "Type" "projects") }}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">{{ .Title }}</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">{{ .Summary }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ .RelPermalink }}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                                </a>
                                <a href="{{ .Params.Link }}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}

        </div>

    </div>

</div>
{{ end }}